
.report-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background: linear-gradient(135deg, #1f2937, #111827);
  font-family: "Poppins", sans-serif;
  color: #f1f5f9;
}


.titlee {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #e2e8f0;
  letter-spacing: 0.5px;
}


.section-title {
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
  color: #482bb1;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.report-card {
  background: rgb(255, 252, 252);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(12, 12, 12, 0.125);
  border-radius: 16px;
  padding: 25px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0px 8px 18px rgba(25, 24, 24, 0.2);
  transition: 0.3s ease;
}

.report-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.3);
}


.report-card label {
  font-size: 14px;
  font-weight: 500;
  color: #141415;
}


.date-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.date-row input[type="date"] {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  background: #334155;
  border: 1px solid #475569;
  color: white;
  outline: none;
  transition: 0.2s;
}

.date-row input[type="date"]:focus {
  border-color: #818cf8;
  box-shadow: 0px 0px 6px rgba(129, 140, 248, 0.6);
}

.date-row span {
  color: #0d0d0e;
  font-weight: 600;
}


select {
  padding: 10px;
  border-radius: 8px;
  background: #334155;
  border: 1px solid #475569;
  color: white;
  outline: none;
  transition: .2s;
  cursor: pointer;
}

select:focus {
  border-color: #818cf8;
  box-shadow: 0px 0px 6px rgba(129, 140, 248, 0.6);
}


.format-buttons {
  display: flex;
  gap: 10px;
}

.format-buttons button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  background: #475569;
  border: 1px solid transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.format-buttons button:hover {
  background: #64748b;
}

.format-buttons button.active {
  background: #6366f1;
  border-color: #818cf8;
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.6);
}


.generate-btn {
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
  margin-top: 10px;
}

.generate-btn:hover {
  background: linear-gradient(135deg, #4338ca, #4f46e5);
  box-shadow: 0px 0px 10px rgba(99, 102, 241, 0.6);
}
.generate-btn:active {
  transform: scale(0.98);
}