
.officer-dashboard {
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 14px;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}


.officer-dashboard.light {
  background: #f7f9fb;
  color: #2c3e50;
}


.officer-dashboard.dark {
  background: #1e1e1e;
  color: #f1f1f1;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.officer-dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.officer-dashboard table th,
.officer-dashboard table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.officer-dashboard.light table thead {
  background: #2c3e50;
  color: white;
}

.officer-dashboard.dark table thead {
  background: #444;
  color: #fff;
}


.officer-dashboard.light table tr:hover {
  background: #eef5ff;
}
.officer-dashboard.dark table tr:hover {
  background: #2c2c2c;
}

.officer-dashboard button {
  padding: 6px 12px;
  border: none;
  margin: 2px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}


.theme-toggle {
  background: #6c5ce7;
  color: white;
}
.theme-toggle:hover {
  background: #5548c8;
}


.officer-dashboard button:nth-child(1) {
  background: #3498db;
  color: white;
}
.officer-dashboard button:nth-child(1):hover {
  background: #217dbb;
}


.officer-dashboard button:nth-child(2) {
  background: #2ecc71;
  color: white;
}
.officer-dashboard button:nth-child(2):hover {
  background: #26b864;
}


.officer-dashboard button:nth-child(3) {
  background: #f7b731;
  color: white;
}
.officer-dashboard button:nth-child(3):hover {
  background: #d99b20;
}


.officer-dashboard.dark button {
  color: white;
}
